body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 500px;
  height: 200px;
}

img.dummy {
  width: 200px;
  height: 200px;
}



button.logout {
  float: right;
}
